order-options{
  background-color: #ffffff;

  //grid

  outline: 1px solid red;
}

.order-options__title{
  margin: 0;
  padding: 75.5px 0;
  text-align: center;

  background-color: #f1f1f1;
}

.order-options__slogan{
  padding: 0 30px;
  font-size: 13px;
  color: $text-color;
}

.order-options__elem{
  padding: 0 30px;
}

.order-options__subtitle{
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.order-options__label{
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.order-options__description{
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
}
