.catalog{
  background-color: #ffffff;
  margin-bottom: 30px;

  //grid
  outline: 1px solid orange;
}

.catalog__title{
  margin: 0;
  padding: 75.5px 0;
  text-align: center;

  background-color: #f1f1f1;
}

.catalog-list{
  padding: 35px 30px;
  list-style-type: none;
}


.product__title{
  font-size: 17px;
  line-height: 24px;

  text-align: center;
}

.product__description{
  font-size: 13px;
  line-height: 30px;
  color: $text-color;
}

product__price{
  font-size: 15px;
}
