.contacts{
  padding: 40px 0 42px 0;

  //grid
  outline: 1px solid aqua;

}

.contacts__title{
  font-size: 18px;
  line-height: 30px;
}

.contacts__list{
  padding: 0 30px;
}

.contacts__list td {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
