.about {
  display: flex;
  flex-direction: column;

  padding-top: 32.5px;
  padding-bottom: 36px;
  background-color: #ffffff;

  &__title {
    margin-top: 0;
    margin-bottom: 27.5px;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }
}
