.about {
  display: flex;
  flex-direction: column;

  padding-top: 29px;
  padding-bottom: 36px;
  background-color: #ffffff;

  &__title {
    margin-top: 0;
    margin-bottom: 27.5px;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 65px;
    padding-bottom: 25px;

    &__title {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 47px;
    }
  }
}
