.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  &__item {
    padding-top: 57.5px;
    margin-bottom: 30px;

    color: #000000;

    &--flower {
      background: url("../img/icon-feature-flower.svg") 0% 0% no-repeat;
    }

    &--money {
      background: url("../../img/icon-feature-money.svg") 0% 0% no-repeat;
    }

    &--heart {
      background: url("../../img/icon-feature-heart.svg") 0% 0% no-repeat;
    }

    &--ball {
      background: url("../../img/icon-feature-ball.svg") 0% 0% no-repeat;
    }

    &--rocket {
      background: url("../../img/icon-feature-rocket.svg") 0% 0% no-repeat;
    }

    &--gift {
      background: url("../../img/icon-feature-gift.svg") 0% 0% no-repeat;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      flex-basis: 43%;
      margin-bottom: 60px;

      font-size: 20px;
    }

    &__item--flower {
      flex-basis: 33%;
    }

    &__item--money {
      flex-basis: 37%;
      order: 3;
    }

    &__item--heart {
      order: 6;
    }

    &__item--ball {
      order: 2;
    }

    &__item--rocket {
      order: 4;
    }

    &__item--gift {
      order: 6;
    }
  }
}
