.catalog {
  background-color: #ffffff;
  margin-bottom: 30px;

  &__title {
    margin: 0;
    padding: 72px 0;
    font-size: 27px;
    line-height: 30px;
    text-align: center;

    background-color: #f1f1f1;
  }

  &-list {
    margin: 0;
    padding: 35px 30px 3px;
    list-style-type: none;
  }
}
