.catalog {
  background-color: #ffffff;
  margin-bottom: 30px;

  &__title {
    margin: 0;
    padding: 72px 0;
    font-size: 27px;
    line-height: 30px;
    text-align: center;

    background-color: #f1f1f1;
  }

  &-list {
    margin: 0;
    padding: 35px 30px 3px;
    list-style-type: none;
  }

  &__modal {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $tablet-width) {
  .catalog {

    margin-bottom: 53px;

    &__sub-list {
      margin: 0;
      padding-top: 19px;
      background-color: #f1f1f1;
    }

    &__title {
      padding-top: 53px;
      padding-bottom: 68px;
      font-size: 43px;
      line-height: 50px;
    }

    &-list {
      padding: 92px 50px 0 50px;
    }
  }
}
