.catalog {
  background-color: #ffffff;
  margin-bottom: 30px;

  //grid
  outline: 1px solid orange;

  &__title {
    margin: 0;
    padding: 75.5px 0;
    text-align: center;

    background-color: #f1f1f1;
  }

  &-list {
    padding: 35px 30px;
    list-style-type: none;
  }
}
