.contacts {
  display: flex;
  flex-direction: column;

  padding: 39px 0;

  &__title {
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 30px;
  }

  &-list {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 33px;

    font-size: 15px;
    line-height: 30px;
    color: $text-color;
  }

  &__property,
  &__value {
    vertical-align: top;
  }

  &__property {
    text-align: left;
    width: 30%;
    padding-bottom: 30px;
  }

  &__value {
    text-align: right;
    width: 67%;

    address {
      padding-right: 17px;
    }

    &--align-left {
      text-align: left;
    }
  }

  &__link {
    color: $text-color;
    padding-bottom: 7px;
    border-bottom: 1px solid #46c1ae;
  }

  &__link:focus {
    color: #d6f1ed;
    border-color: #d6f1ed;
  }

  &__link:active {
    color: #c7ece7;
    border-color: #c7ece7;
  }

  &__map {
    margin-bottom: 38px;
  }

  &__btn {
    align-self: center;
    max-width: 260px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 70px;

    &__title {
      font-size: 43px;
      line-height: 50px;
    }

    &-list {
      display: flex;
    }
  }
}
