.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 37px 0;

  &__icon {
    fill: #63d1bb;
  }

  &__link {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;

    font-size: 19px;
    font-weight: bold;

    &:focus {
      .copyright__icon {
        fill: #46c1ae;
      }
    }

    &:active {
      .copyright__text {
        color: #a8a8a8;
      }

      .copyright__icon {
        fill: #bde3dd;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin-right: 3px;
  }
}
