.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 37px 0;

  &__link {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;

    font-size: 19px;
    font-weight: bold;

    &:active {
      color: #a8a8a8;

      path {
        fill: #bde3dd;
      }
    }
  }
}
