.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 40px;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 25px;
    line-height: 30px;
  }

  &__subtitle {
    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 20.5px;
    padding-right: 11px;
    font-size: 15px;
    line-height: 24px;
    color: $text-color;
  }

  &__img {
    width: 50%;
    height: 100%;
    margin-bottom: 26.5px;
  }

  &__footer {
    width: 100%;
    max-width: 292px;
    display: flex;
    flex-direction: column;
  }

  &__price {
    align-self: center;
    margin-bottom: 24.5px;

    color: $text-color;
    font-weight: bold;
  }
}

@media (min-width: $tablet-width) {
  .feature {
    padding-top: 51px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__header {
      width: 100%;
      margin-bottom: 56.5px;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      font-size: 43px;
      line-height: 50px;
    }

    &__subtitle {
      width: 78px;
      margin-bottom: 0;
      padding: 0 30px;

      text-align: center;
      font-weight: bold;
    }

    &__text {
      flex-basis: 37%;
    }

    &__img {
      order: 1;
    }

    &__footer {
      flex-basis: 100%;
      order: 3;
    }
  }
}
