.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  box-sizing: border-box;

  max-width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
  padding-top: 27px;
  padding-bottom: 36px;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 5px;

    font-size: 25px;
    line-height: 30px;
  }

  &__subtitle {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__text {
    width: 260px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-right: 11px;
    font-size: 15px;
    line-height: 24px;
    color: $text-color;
  }

  &__product-properties {
    align-self: center;
  }

  &__img {

    align-self: center;

    width: 260px;
    margin-bottom: 18px;
  }

  &__footer {
    flex-basis: auto;
    align-self: center;
    width: 260px;
    display: flex;
    flex-direction: column;
  }

  &__price {
    align-self: center;
    margin-bottom: 24px;

    color: $text-color;
    font-weight: bold;
  }

  &__btn {
    align-self: center;
  }

  &__modal {
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .feature {
    position: relative;
    max-width: $tablet-width;
    padding-top: 47px;
    padding-bottom: 54px;


    &__header {
      width: 100%;
      margin-bottom: 45px;

      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__title {
      margin-bottom: 4px;
      font-size: 43px;
      line-height: 50px;
    }

    &__subtitle {
      width: 78px;
      margin-bottom: 0;
      margin-top: 12px;
      margin-right: 25px;

      text-align: center;
      font-weight: bold;
      line-height: 17px;
    }

    &__text {
      width: 292px;
      padding-right: 0;
      margin-bottom: 35px;

      font-size: 17px;
      line-height: 30px;
    }

    &__img {
      position: absolute;
      width: 334px;
      top: 155px;
      right: 50px;
    }

    &__product-properties {
      align-self: flex-start;
    }

    &__footer {
      align-self: flex-start;
      flex-basis: auto;
      order: 3;
    }

    &__price {
      padding-left: 26px;
      margin-bottom: 34px;

      font-size: 20px;
      line-height: 24px;
    }

    &__btn {
      width: 292px;
      margin-left: 29px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feature {
    max-width: $desktop-width;
    padding-top: 120px;
    padding-bottom: 95px;

    &__header {
      justify-content: flex-start;
      margin-bottom: 50px;
    }

    &__title {
      margin: 0;
      font-size: 53px;
      line-height: 57px;

      order: 1;
      z-index: 1;
    }

    &__subtitle {
      margin: 15px 50px 0 0;
      margin-left: 43.5px;
    }

    &__img {
      width: 525px;
      top: 68px;
      right: 50px;
    }

    &__text {
      margin-left: 175px;
      margin-bottom: 47px;
    }

    &__product-properties {
      margin-left: 175px;
      margin-bottom: 115px;
    }

    &__footer {
      flex-basis: auto;
      margin-left: 175px;
    }

    &__price {
      font-size: 20px;
      padding-left: 36px;
    }

    &__btn {
      margin-left: 36px;
    }
  }
}
