.order-options {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  background-color: #ffffff;

  &__title {
    margin: 0;
    padding: 71px 0 75px;

    font-size: 27px;
    line-height: 30px;
    text-align: center;

    background-color: #f1f1f1;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    margin: 0 auto 0;
    padding-bottom: 55px;
  }

  &__slogan {
    max-width: 260px;
    margin: 23px auto 32px auto;
    font-size: 13px;
    color: $text-color;
  }

  &__fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 260px;
    padding: 0;
    border: 1px solid #62d1ba;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  &__subtitle {
    position: absolute;
    top: -10px;
    left: -1px;

    padding-right: 28px;
    margin: 0;

    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
    color: #63d1bb;
    text-transform: uppercase;

    background-color: #ffffff;
  }

  &__fieldset-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &--radio {
      padding-top: 40px;
      padding-bottom: 52px;
    }

    &--checkbox {
      padding-top: 42px;
      padding-bottom: 8px;
    }

    &--initials {
      padding-top: 35px;
      padding-bottom: 18px;
    }

    &--phone {
      padding-bottom: 38px;
    }

    &--email {
      padding-bottom: 40px;
    }


    &--addit-info {
      padding-top: 33px;
      margin-bottom: 15px;
    }
  }

  &__label {
    position: relative;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    span {
      cursor: pointer;
    }

    &--radio {
      padding-left: 60px;
      margin-bottom: 25px;

      span::before {
        content: "";
        position: absolute;
        top: -9px;
        left: 0;
        width: 36px;
        height: 37px;
        border-radius: 50%;
        border: 1px solid $text-color;
      }

      span::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 10px;
        width: 17px;
        height: 17px;
        opacity: 0;
        background-color: #62d1ba;
        border-radius: 50%;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--checkbox {
      padding-left: 60px;
      margin-bottom: 43px;

      span::before {
        content: "";
        position: absolute;
        top: -11px;
        left: -2px;
        width: 36px;
        height: 36px;
        border: 2px solid $text-color;
      }

      span::after {
        content: "";
        position: absolute;
        top: -8px;
        left: 7px;
        width: 23px;
        height: 30px;
        opacity: 0;
        background: url("../img/icon-tick.svg") 50% 50% no-repeat;
      }
    }

    &--initials {
      margin-bottom: 22px;
    }
  }

  &__input {
    color: $text-color;

    @include placeholder {
      color: #d2d2d2;
      opacity: 1;
      transition: opacity 0.3s;
    }

    &:focus {
      border-color: #62d1ba;

      @include placeholder {
        opacity: 0;
      }
    }

    &--radio:checked + span::after,
    &--checkbox:checked + span::after {
      opacity: 1;
    }

    &--radio:focus + span::before,
    &--checkbox:focus + span::before {
      border-color: #62d1ba;
    }

    &--radio:active + span::before,
    &--checkbox:active + span::before {
      border-color: #dcdcdc;
    }

    &--underlined {
      border: none;
      width: 100%;
      margin-top: 5px;
      padding-top: 10px;
      padding-bottom: 16px;
      border-bottom: 2px solid #000000;

      @include placeholder {
        color: #d2d2d2;
        opacity: 1;
        transition: opacity 0.3s;
      }

      &:focus {
        border-color: #62d1ba;

        @include placeholder {
          opacity: 0;
        }
      }

      &:active {
        border-color: #62d1ba;
      }
    }

    &--phone {
      margin-top: 15px;
      padding-top: 15px;
      padding-bottom: 17px;

      background: url("../img/icon-phone.svg") 97% 40% no-repeat;

      &:focus {
        background-image: url("../img/icon-phone-hover.svg");
      }
    }

    &--email {
      margin-top: 15px;
      padding-top: 15px;
      padding-bottom: 15px;

      background: url("../img/icon-mail.svg") 98% 61% no-repeat;

      &:focus {
        background-image: url("../img/icon-mail-hover.svg");
      }
    }


    &--area {
      width: 100%;
      max-width: 220px;
      margin: 0;
      height: 114px;
      padding: 12px 18px 12px 18px;
      border: 2px solid $text-color;
      resize: none;
    }
  }

  &__form-footer {
    display: flex;
    flex-direction: column;
  }

  &__description {
    font-size: 14px;
    line-height: 16px;
    color: $text-color;
    margin-bottom: 31px;
  }
}

@media (min-width: $tablet-width) {
  .order-options {
    max-width: $tablet-width;


    &__sub-list {
      margin: 0;
      padding-top: 19px;
      background-color: #f1f1f1;
    }

    &__title {
      padding-top: 50px;
      padding-bottom: 80px;
      font-size: 43px;
      line-height: 50px;
    }

    &__slogan {
      max-width: $tablet-width;
      padding: 0 50px;

      font-size: 17px;
      line-height: 30px;
    }

    &__form-wrapper {
      padding-top: 50px;
      max-width: $tablet-width;
      margin: 0 auto;
    }

    &__fieldset {
      max-width: 668px;
      flex-direction: row;
      border: none;

      &--radio {
        padding: 0 50px;
        margin-bottom: 17px;
      }

      &--checkbox {
        padding: 0 50px;
        background-color: #f1f1f1;
      }

      &--initials {
        padding: 0 50px;
        margin-bottom: 10px;
      }

      &--phone {
        padding: 0 50px;
        background-color: #f1f1f1;
      }

      &--email {
        padding: 0 50px;
        background-color: #f1f1f1;
      }

      &--addit-info {
        padding: 0 50px;
        margin-bottom: 39px;
      }
    }

    &__subtitle {
      position: static;
      padding: 0;
      margin-top: 45px;
      margin-right: 150px;
      font-size: 17px;

      &--checkbox {
        margin-top: 67px;
        margin-right: 145px;
        background-color: #f1f1f1;
      }

      &--initials {
        margin-top: 68px;
        margin-right: 127px;
      }

      &--phone {
        margin-top: 66px;
        margin-right: 135px;
        background-color: #f1f1f1;
      }

      &--email {
        margin-top: 17px;
        margin-right: 87px;
        width: 80px;
        background-color: #f1f1f1;
      }

      &--addit-info {
        margin-top: 66px;
        margin-right: 128px;
      }
    }

    &__fieldset-wrapper {
      &--radio {
        padding-top: 42px;
      }

      &--checkbox {
        padding-top: 66px;
        width: 500px;

        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      &--initials {
        width: 500px;
        padding-top: 50px;
      }

      &--phone {
        padding-bottom: 25px;
        width: 500px;
      }

      &--email {
        width: 500px;
        padding-bottom: 50px;
      }

      &--addit-info {
        padding-top: 50px;
        width: 500px;
      }
    }

    &__label {
      font-size: 19px;
      line-height: 18px;

      &--radio {
        margin-bottom: 58px;

        span::before {
          top: -16px;
          left: -21px;
          width: 50px;
          height: 50px;
          border-width: 2px;
        }

        span::after {
          top: 1px;
          left: -4px;
          width: 21px;
          height: 21px;
        }
      }

      &--checkbox {
        width: 159px;
        margin-bottom: 58px;

        span::before {
          top: -16px;
          left: -21px;
          width: 49px;
          height: 49px;
          border-width: 2px;
        }

        span::after {
          top: -2px;
          left: -12px;
          width: 35px;
          height: 25px;
        }
      }

      &--initials {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
          margin-right: 22px;
        }
      }
    }

    &__input {
      &--initials {
        width: 100%;
        padding-left: 15px;
      }

      &--phone {
        width: 97%;
        padding-left: 15px;
        margin-top: 47px;
        background-color: #f1f1f1;

        background-position: 95% 54%;
      }

      &--email {
        margin-top: 0;
        padding-left: 15px;
        width: 97%;
        background-color: #f1f1f1;

        background-position: 95% 84%;
      }

      &--area {
        width: 100%;
        max-width: 462px;
      }
    }

    &__form-footer {
      padding: 0 50px;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &__description {
      margin: 0;
      font-size: 17px;
      line-height: 30px;
    }

    &__form-btn {
      width: 230px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-options {
    max-width: $desktop-width;

    &__title {
      font-size: 53px;
      line-height: 57px;
    }

    &__form-wrapper {
      padding-top: 126px;
      padding-bottom: 49px;
      max-width: 1500px;
      margin: 0;
    }

    &__slogan {
      max-width: 700px;
    }

    &__fieldset {
      max-width: 1500px;

      &--addit-info {
        margin-bottom: 35px;
      }
    }

    &__subtitle {
      &--radio {
        margin-top: 39px;
        margin-right: 96px;
        margin-left: 63px;
      }

      &--checkbox {
        margin-top: 65px;
        margin-right: 92px;
        margin-left: 60px;
      }

      &--initials {
        margin-top: 68px;
        margin-right: 74px;
        margin-left: 61px;
      }

      &--phone {
        margin-top: 64px;
        margin-right: 82px;
        margin-left: 62px;
      }

      &--email {
        margin-top: 17px;
        margin-right: 36px;
        margin-left: 61px;
      }

      &--addit-info {
        margin-top: 66px;
        margin-right: 74px;
        margin-left: 63px;
      }
    }

    &__fieldset-wrapper {
      &--radio {
        padding-top: 39px;
      }

      &--checkbox {
        width: 700px;
      }

      &--initials {
        width: 700px;
      }

      &--phone {
        width: 700px;
      }

      &--email {
        width: 700px;
      }

      &--addit-info {
        padding-top: 50px;
        width: 700px;
      }
    }

    &__label {
      &--checkbox {
        width: 116px;
      }

      &--phone,
      &--email {
        span::before {
          right: 3px;
        }
      }

      &--email {
        span::before {
          bottom: 6px;
          right: 3px;
        }
      }
    }

    &__input {
      &--radio:hover + span::before,
      &--checkbox:hover + span::before {
        border-color: #62d1ba;
      }

      &--underlined {
        &:hover {
          border-color: #62d1ba;
        }
      }

      &--phone {
        width: 98%;
        background-position: 99% 45%;

        &:hover {
          background-image: url("../img/icon-phone-hover.svg");
        }
      }

      &--email {
        width: 98%;
        background-position: 99% 80%;

        &:hover {
          background-image: url("../img/icon-mail-hover.svg");
        }
      }

      &--area {
        max-width: 658px;
      }
    }

    &__form-footer {
      width: 700px;
      margin: 0 auto;
    }
  }
}
