.intro {
  display: flex;
  flex-direction: column;

  min-height: 283px;

  background: #f6f7fb url("../../img/hero-mobile@1x.jpg") 50% 50% no-repeat;
  background-size: cover;

  // grid
  outline: 1px solid green;

  &__title {
    margin-top: 0;

    font-size: 27px;
    line-height: 30px;

    text-align: center;
  }
}
