.intro {
  display: flex;
  flex-direction: column;

  min-height: 283px;

  background: #f6f7fb url("../../img/hero-mobile@1x.jpg") 50% 50% no-repeat;
  background-size: cover;

  // grid
  outline: 1px solid green;

  &__title {
    margin-top: 0;

    font-size: 27px;
    line-height: 30px;

    text-align: center;
  }
}

.type-list {
  padding-left: 0;
  list-style-type: none;

  &__item {
    //Чтобы не ругался трэвис
    color: #000000;

    &--left {
      background-color: #63d1bb;
    }

    &--right {
      background-color: #46c1ae;
    }
  }

  &__link {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
  }
}
