.product {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 32px;
  color: #000000;
  border: 1px solid $border-color;

  &__title {
    margin-top: 20.5px;
    margin-bottom: 4px;
    padding: 0 30px;
    font-size: 17px;
    line-height: 24px;
  }

  &__link {
    display: block;
    margin-bottom: 4px;

    &--img {
      margin-bottom: 0;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 30px;
    color: $text-color;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 260px;
    padding-top: 20.5px;
    padding-bottom: 26px;
    border-top: 1px solid $border-color;
  }

  &__price {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
  }

  &__order {
    background-color: #ffffff;
    border: none;
    cursor: pointer;

    &:focus {
      color: #666666;

      path {
        fill: #63d1bb;
      }
    }

    &:active {
      color: #b2b2b2;

      path {
        fill: #d0f1ea;
      }
    }
  }
}

.product:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .product {

    flex-direction: row;
    max-width: $tablet-width;
    margin: 0 auto 0 auto;
    height: 330px;
    margin-bottom: 56px;

    &__img {
      height: 330px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__title {
      width: 306px;
      padding: 0;
      margin-bottom: 8px;

      font-size: 20px;
    }

    &__link {
      display: block;
      margin-bottom: 7px;

      &--img {
        margin-right: 28px;
      }

      &--source:last-of-type {
        margin-right: 64px;
      }
    }

    &__description {
      width: 306px;
      padding: 0;

      font-size: 15px;
    }

    &__footer {
      width: 270px;
      padding: 0;
      padding-bottom: 1px;
      margin-bottom: 22px;
      margin-right: 30px;
    }

    &__wrapper {
      width: 100%;
      padding: 0;
      padding-top: 23px;
    }

    &__price {
      font-size: 17px;
    }

    &__order {
      padding: 0;
    }
  }
}
