.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;

  max-width: 320px;
  margin: 0 auto;

  padding-top: 17px;
  padding-bottom: 45px;


  &__title {
    margin-top: 0;
    margin-bottom: 23px;

    font-size: 25px;
    line-height: 30px;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 27px;

    font-size: 15px;
    line-height: 30px;
    color: $text-color;
  }

  &__author-name {
    display: block;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 7px;
  }

  &__link {
    display: block;
    margin-bottom: 30px;
    color: $text-color;
    width: 140px;
  }

  &__slider-toggles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 38px;
  }

  &__prev,
  &__next {
    position: relative;
    flex-basis: 130px;
    padding: 11px 0;
    border: 1px solid $border-color;

    background-color: #ffffff;
    cursor: pointer;

    &:focus {
      .reviews__slider-toggle {
        fill: #666666;
      }
    }

    &:active {
      .reviews__slider-toggle {
        fill: #b2b2b2;
      }
    }
  }

  &__slider-toggle {
    fill: #000000;
  }


  &__next {
    border-left: none;
  }

  &__btn {
    width: 255px;
    margin: 0 auto;
    padding: 13.5px 0;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;

    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    max-width: $tablet-width;

    padding-top: 80px;
    padding-bottom: 115px;
    background: #ffffff url("../img/review@1x.jpg") 0% 0% no-repeat;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }

    &__title {
      margin-bottom: 0;

      font-size: 43px;
      line-height: 50px;
    }

    &__slider {
      margin-top: 45px;
      order: 2;
    }

    &__description {
      max-width: 668px;

      padding-right: 25px;
      margin-bottom: 58px;

      font-size: 17px;
      line-height: 30px;
    }

    &__author-name {
      font-size: 18px;
      font-style: normal;
    }

    &__link {
      margin-bottom: 0;
      width: 150px;
    }

    &__slider-toggles {
      position: absolute;
      bottom: 75px;
      right: 50px;
      width: 175px;
      order: 3;
    }

    &__prev,
    &__next {
      border: none;
    }

    &__btn {
      width: 172px;
      margin: 0;
      margin-left: auto;
      order: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    max-width: $desktop-width;

    padding-top: 68px;
    background-position: 50px 0;

    &__title {
      margin-left: 171px;
      font-size: 53px;
      line-height: 57px;
    }

    &__btn {
      margin-top: 12px;
    }

    &__slider {
      margin-bottom: 61px;
    }

    &__slide {
      padding-left: 176px;
    }

    &__description {
      max-width: 800px;
      padding-right: 100px;
      line-height: 30px;
      margin-bottom: 39px;
    }

    &__author-name {
      font-size: 17px;
    }

    &__link {
      width: 160px;
    }

    &__slider-toggles {
      bottom: 136px;
      right: 50px;
    }

    &__prev,
    &__next {
      &:hover {
        .reviews__slider-toggle {
          fill: #666666;
        }
      }
    }
  }
}
