.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;

  list-style-type: none;

  &__item {
    display: flex;
    justify-content: center;
    width: 100%;

    border-top: 1px solid $border-color;
  }

  &__item:last-child {
    border-bottom: 1px solid $border-color;
  }

  &__link {
    position: relative;
    width: 100%;
    padding: 27px 0 27px;
    padding-right: 20px;
    text-align: center;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;

    &:focus {
      color: #666666;

      path {
        fill: #63d1bb;
      }
    }

    &:active {
      color: #b2b2b2;

      path {
        fill: #d0f1ea;
      }
    }

    &--active {
      color: #666666;
    }

    &--search,
    &--bucket {
      svg {
        position: absolute;
        left: 30px;
      }
    }

    &--bucket {
      span {
        padding-left: 30px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;

    &__item {
      display: none;
      padding: 31px 0;

      &--search,
      &--bucket {
        display: block;
        width: auto;
        border: none;
      }

      &:last-child {
        border: none;
      }

      &--search {
        width: 83px;
        padding-top: 36px;
        padding-bottom: 27px;
        text-align: center;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }

      &--bucket {
        width: 265px;
        text-align: right;
      }
    }

    &__link {
      padding: 0;

      svg {
        position: static;
      }

      &--search {
        span {
          display: none;
        }
      }

      &--bucket {
        svg {
          padding-right: 26px;
        }
      }

      span {
        padding: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 100%;
    margin: 0;

    justify-content: space-between;


    &__item {
      width: auto;
      display: flex;
      padding-top: 31px;

      &:first-child {
        padding-right: 35px;
        margin-right: 35px;
        border-right: 1px solid $border-color;
      }

      &:nth-child(2) {
        margin-right: auto;
      }

      &:nth-child(3) {
        margin-left: auto;
      }

      &:last-child {
        padding-left: 34px;
      }
    }

    &__link {
      width: auto;

      &:hover {
        color: #666666;

        path {
          fill: #63d1bb;
        }
      }

      &--search {
        padding: 0 32px;
      }
    }
  }
}
