.type-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  &__item {
    display: flex;
    flex-grow: 1;
    color: #000000;

    &--left {
      background-color: #63d1bb;
    }

    &--right {
      background-color: #46c1ae;
    }
  }

  &__link {
    padding: 25px 30px;

    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
  }
}

@media (min-width : $tablet-width){
  .type-list{
    flex-direction: row;
  }
}
