.type-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  &__item {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    color: #000000;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    padding: 21.5px 30px;

    font-size: 19px;
    font-weight: bold;
    color: #ffffff;

    span{
      padding-right: 51px;
    }

    &--left {
      background-color: #63d1bb;
    }

    &--right {
      background-color: #46c1ae;
    }
  }
}

@media (min-width : $tablet-width){
  .type-list{
    flex-direction: row;
  }
}
