.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  background-color: #ffffff;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    border: 1px solid $border-color;
  }

  &__title {
    position: relative;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 22px;
    margin-left: 50px;
    width: 130px;
    font-size: 17px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: -59px;
      width: 36px;
      height: 27px;
      background: url("../img/icon-video.svg") 50% 50% no-repeat;
    }
  }

  &__frame {
    width: 105%;
    max-width: 300px;
    margin-bottom: 8px;
    text-align: center;

    img {
      width: 96%;
      z-index: 1;
    }
  }

  &__description {
    padding-left: 30px;
    padding-right: 42px;
    margin-bottom: 27px;

    font-size: 13px;
    line-height: 24px;
    color: $text-color;
  }

  &__btn {
    max-width: 192px;
  }
}
