.reviews{
  padding: 35px 30px 50px 30px;

  //grid
  outline: 1px solid pink;
}

.reviews__title{
  margin-top: 0;

  font-size: 25px;
  line-height: 30px;
}

.reviews__slider{
  padding-left: 0;
  list-style-type: none;
}

.reviews__description{
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
}

.reviews__link{
  color: $text-color;
}
